.idea/
logfile.log

# Python ignores
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.env
.venv
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
*.sqlite3
*.db
.DS_Store
*.cover
.coverage
htmlcov/
.tox/
.mypy_cache/
.pytest_cache/
.cache/
.ruff_cache/
*.log